n8n-workflows/WF-Upload-PDF-Storage.json
{
  "name": "AccidentDoc - Upload PDF to Storage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "id": "43582f19-90b2-42e2-81aa-849a547e5445",
      "name": "Webhook Upload",
      "webhookId": "upload-pdf-storage"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "upload-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        320
      ],
      "id": "aae6df95-cc6f-4a35-b135-112c988772a6",
      "name": "OPTIONS Preflight",
      "webhookId": "upload-pdf-options"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -448,
        320
      ],
      "id": "708c68ae-11af-46ed-888b-2c7e089f52c3",
      "name": "Respond OPTIONS"
    },
    {
      "parameters": {
        "jsCode": "// Validation et préparation de l'upload\nconst item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\n\nif (binaryKeys.length === 0) {\n  return {\n    json: {\n      error: true,\n      message: 'Aucun fichier reçu'\n    }\n  };\n}\n\nconst fileKey = binaryKeys[0];\nconst file = item.binary[fileKey];\nconst mimeType = file.mimeType || 'application/pdf';\n\n// Vérifier que c'est un PDF ou image\nconst allowedTypes = ['application/pdf', 'image/png', 'image/jpeg', 'image/jpg'];\nif (!allowedTypes.includes(mimeType)) {\n  return {\n    json: {\n      error: true,\n      message: `Type de fichier non autorisé: ${mimeType}`\n    }\n  };\n}\n\n// Générer UUID pour le fichier\nconst uuid = 'pdf_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nconst extension = mimeType === 'application/pdf' ? 'pdf' : mimeType.split('/')[1];\nconst fileName = `pending/${uuid}.${extension}`;\n\nreturn {\n  json: {\n    pdf_id: uuid,\n    fileName: fileName,\n    mimeType: mimeType,\n    fileKey: fileKey,\n    fileSize: file.fileSize || 0,\n    error: false\n  },\n  binary: item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ],
      "id": "07987d41-212c-486e-98b9-1339bcafd278",
      "name": "Init & Validate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ],
      "id": "3a44cb28-d7f2-44a4-b060-8f2a9e019e7d",
      "name": "Check Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rwzqnaqaapgitjjsuokf.supabase.co/storage/v1/object/cerfa-documents/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.fileKey }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        224
      ],
      "id": "23594124-e211-494b-9581-6088f29dbc9a",
      "name": "Upload to Supabase",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ky1L3tKefy3aLQey",
          "name": "Mistral OCR"
        },
        "supabaseApi": {
          "id": "ofjzKad4ClZUmtW5",
          "name": "Supabase Lettres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construire la réponse succès\nconst initData = $('Init & Validate').first().json;\nconst uploadResult = $input.first().json;\n\nreturn {\n  success: true,\n  pdf_id: initData.pdf_id,\n  storage_path: `cerfa-documents/${initData.fileName}`,\n  file_name: initData.fileName,\n  mime_type: initData.mimeType,\n  file_size: initData.fileSize,\n  bucket: 'cerfa-documents',\n  status: 'pending',\n  message: 'Fichier uploadé avec succès'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        224
      ],
      "id": "2043a879-a4e3-4328-abe0-bebedaebf690",
      "name": "Format Success"
    },
    {
      "parameters": {
        "jsCode": "// Construire la réponse erreur\nconst initData = $('Init & Validate').first().json;\n\nreturn {\n  success: false,\n  error: initData.message || 'Erreur lors de l\\'upload',\n  pdf_id: null,\n  storage_path: null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "2d9dabc0-b399-49b5-b4cb-6247e0f1f922",
      "name": "Format Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        112
      ],
      "id": "a3419473-77a2-4b75-9fb1-aa23ca606339",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Init & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPTIONS Preflight": {
      "main": [
        [
          {
            "node": "Respond OPTIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init & Validate": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "464c1431-fe63-4fa5-bcf5-53e2da75adea",
  "meta": {
    "instanceId": "a5e4c4b07f3d793b359aa15dce255ab809e042c9fce5c285f7e1ede156971b3c"
  },
  "id": "zSkSkUAA36BQwJS012nxv",
  "tags": []
}