n8n-workflows/WF5-Checkout-Standard.json
{
  "name": "WF5 - Checkout Standard (69€)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checkout-standard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "webhook-checkout",
      "name": "Webhook Checkout",
      "webhookId": "checkout-standard"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "checkout-standard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        200
      ],
      "id": "webhook-options",
      "name": "OPTIONS",
      "webhookId": "checkout-standard-options"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "cors-response",
      "name": "CORS OK"
    },
    {
      "parameters": {
        "jsCode": "// Validate & Prepare checkout data\nconst body = $input.first().json.body || $input.first().json;\n\n// Validation\nif (!body.customer_email) {\n  return {\n    valid: false,\n    error: 'Email requis'\n  };\n}\n\nif (!body.letter_text) {\n  return {\n    valid: false,\n    error: 'Lettre requise'\n  };\n}\n\nconst requestId = body.request_id || 'req_' + Date.now();\nconst context = body.context || {};\n\n// Préparer les données pour Supabase (stockage avant paiement)\nreturn {\n  valid: true,\n  request_id: requestId,\n  customer_email: body.customer_email,\n  letter_text: body.letter_text,\n  context: context,\n  // Données pour créer le draft dans Supabase\n  supabase_data: {\n    request_id: requestId,\n    customer_email: body.customer_email,\n    letter_text: body.letter_text,\n    status: 'pending_payment',\n    document_type: 'standard',\n    victime_nom: context.victime_nom || null,\n    accident_date: context.accident_date || null,\n    validated_fields: JSON.stringify({\n      victime: {\n        nom: context.victime_nom || '',\n        prenom: context.victime_prenom || ''\n      },\n      accident: {\n        date: context.accident_date || '',\n        lieu: context.accident_lieu || ''\n      },\n      employeur: {\n        nom_raison_sociale: context.employeur_nom || ''\n      }\n    })\n  },\n  // Metadata pour Stripe (limité à 500 chars par champ)\n  stripe_metadata: {\n    type: 'standard',\n    request_id: requestId,\n    customer_email: body.customer_email,\n    victime_nom: (context.victime_nom || '').substring(0, 100),\n    accident_date: (context.accident_date || '').substring(0, 50)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "validate-input",
      "name": "Validate & Prepare"
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "dossiers",
        "conflictColumns": ["request_id"],
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $json.supabase_data.request_id }}",
            "customer_email": "={{ $json.supabase_data.customer_email }}",
            "letter_text": "={{ $json.supabase_data.letter_text }}",
            "status": "={{ $json.supabase_data.status }}",
            "document_type": "={{ $json.supabase_data.document_type }}",
            "victime_nom": "={{ $json.supabase_data.victime_nom }}",
            "accident_date": "={{ $json.supabase_data.accident_date }}",
            "validated_fields": "={{ $json.supabase_data.validated_fields }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        -200
      ],
      "id": "save-draft-supabase",
      "name": "Save Draft to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase AccidentDoc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "check-valid",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "mode", "value": "payment" },
            { "name": "success_url", "value": "=https://accidentdoc.fr/succes?session_id={CHECKOUT_SESSION_ID}&rid={{ $('Validate & Prepare').item.json.request_id }}" },
            { "name": "cancel_url", "value": "=https://accidentdoc.fr/paiement?cancelled=true&rid={{ $('Validate & Prepare').item.json.request_id }}" },
            { "name": "customer_email", "value": "={{ $('Validate & Prepare').item.json.customer_email }}" },
            { "name": "line_items[0][price_data][currency]", "value": "eur" },
            { "name": "line_items[0][price_data][product_data][name]", "value": "Lettre de réserves AT/MP" },
            { "name": "line_items[0][price_data][unit_amount]", "value": "8280" },
            { "name": "line_items[0][quantity]", "value": "1" },
            { "name": "metadata[type]", "value": "standard" },
            { "name": "metadata[dossier_id]", "value": "={{ $json.id }}" },
            { "name": "metadata[request_id]", "value": "={{ $('Validate & Prepare').item.json.request_id }}" },
            { "name": "metadata[customer_email]", "value": "={{ $('Validate & Prepare').item.json.customer_email }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -100
      ],
      "id": "create-stripe-session",
      "name": "Create Stripe Session",
      "credentials": {
        "httpHeaderAuth": {
          "id": "STRIPE_CREDENTIAL_ID",
          "name": "Stripe API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst stripeResponse = $json;\n\nif (stripeResponse.error) {\n  return {\n    success: false,\n    error: stripeResponse.error.message || 'Erreur Stripe'\n  };\n}\n\nreturn {\n  success: true,\n  checkout_url: stripeResponse.url,\n  session_id: stripeResponse.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ],
      "id": "format-success",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "jsCode": "// Prepare error response\nconst validateData = $('Validate & Prepare').first().json;\n\nreturn {\n  success: false,\n  error: validateData.error || 'Données invalides'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        100
      ],
      "id": "format-error",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "final-response",
      "name": "Response"
    }
  ],
  "connections": {
    "Webhook Checkout": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPTIONS": {
      "main": [
        [
          {
            "node": "CORS OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Save Draft to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft to Supabase": {
      "main": [
        [
          {
            "node": "Create Stripe Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Session": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "Accidoc"
    }
  ]
}
