n8n-workflows/WF5-Checkout-Standard.json
{
  "name": "WF5 - Checkout Standard (69€)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checkout-standard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "id": "webhook-checkout",
      "name": "Webhook Checkout",
      "webhookId": "checkout-standard"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "checkout-standard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "id": "webhook-options",
      "name": "OPTIONS",
      "webhookId": "checkout-standard-options"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "id": "cors-response",
      "name": "CORS OK"
    },
    {
      "parameters": {
        "jsCode": "// Validate & Prepare checkout data\nconst body = $input.first().json.body || $input.first().json;\n\n// Validation\nif (!body.customer_email) {\n  return {\n    valid: false,\n    error: 'Email requis'\n  };\n}\n\nif (!body.letter_text) {\n  return {\n    valid: false,\n    error: 'Lettre requise'\n  };\n}\n\nconst requestId = body.request_id || 'req_' + Date.now();\nconst context = body.context || {};\n\n// Préparer les données\nreturn {\n  valid: true,\n  request_id: requestId,\n  customer_email: body.customer_email,\n  letter_text: body.letter_text,\n  status: 'pending_payment',\n  document_type: 'standard',\n  victime_nom: context.victime_nom || null,\n  accident_date: context.accident_date || null,\n  validated_fields: JSON.stringify({\n    victime: {\n      nom: context.victime_nom || '',\n      prenom: context.victime_prenom || ''\n    },\n    accident: {\n      date: context.accident_date || '',\n      lieu: context.accident_lieu || ''\n    },\n    employeur: {\n      nom_raison_sociale: context.employeur_nom || ''\n    }\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 200],
      "id": "validate-input",
      "name": "Validate & Prepare"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 200],
      "id": "check-valid",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dossiers (\n  request_id,\n  customer_email,\n  letter_text,\n  status,\n  document_type,\n  victime_nom,\n  accident_date,\n  validated_fields\n) VALUES (\n  '{{ $json.request_id }}',\n  '{{ $json.customer_email }}',\n  '{{ $json.letter_text.replace(/'/g, \"''\") }}',\n  '{{ $json.status }}',\n  '{{ $json.document_type }}',\n  {{ $json.victime_nom ? \"'\" + $json.victime_nom.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.accident_date ? \"'\" + $json.accident_date + \"'\" : \"NULL\" }},\n  '{{ $json.validated_fields }}'::jsonb\n)\nON CONFLICT (request_id) DO UPDATE SET\n  letter_text = EXCLUDED.letter_text,\n  status = EXCLUDED.status,\n  validated_fields = EXCLUDED.validated_fields,\n  updated_at = NOW()\nRETURNING id, request_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 100],
      "id": "postgres-insert-draft",
      "name": "Insert Draft to Postgres",
      "credentials": {
        "postgres": {
          "id": "pewhdVfWthgBvQiY",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "success_url",
              "value": "=https://accidentdoc.fr/succes?session_id={CHECKOUT_SESSION_ID}&rid={{ $('Validate & Prepare').first().json.request_id }}"
            },
            {
              "name": "cancel_url",
              "value": "=https://accidentdoc.fr/paiement?cancelled=true&rid={{ $('Validate & Prepare').first().json.request_id }}"
            },
            {
              "name": "customer_email",
              "value": "={{ $('Validate & Prepare').first().json.customer_email }}"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "eur"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "Lettre de réserves AT/MP"
            },
            {
              "name": "line_items[0][price_data][unit_amount]",
              "value": "8280"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            },
            {
              "name": "metadata[type]",
              "value": "standard"
            },
            {
              "name": "metadata[dossier_id]",
              "value": "={{ $json.id }}"
            },
            {
              "name": "metadata[request_id]",
              "value": "={{ $('Validate & Prepare').first().json.request_id }}"
            },
            {
              "name": "metadata[customer_email]",
              "value": "={{ $('Validate & Prepare').first().json.customer_email }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 100],
      "id": "create-stripe-session",
      "name": "Create Stripe Session",
      "credentials": {
        "stripeApi": {
          "id": "1YXSgrksQMW16KFj",
          "name": "Stripe account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst stripeResponse = $json;\n\nif (stripeResponse.error) {\n  return {\n    success: false,\n    error: stripeResponse.error.message || 'Erreur Stripe'\n  };\n}\n\nreturn {\n  success: true,\n  checkout_url: stripeResponse.url,\n  session_id: stripeResponse.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 100],
      "id": "format-success",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "jsCode": "// Prepare error response\nconst validateData = $('Validate & Prepare').first().json;\n\nreturn {\n  success: false,\n  error: validateData.error || 'Données invalides'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "id": "format-error",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 200],
      "id": "final-response",
      "name": "Response"
    }
  ],
  "connections": {
    "Webhook Checkout": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPTIONS": {
      "main": [
        [
          {
            "node": "CORS OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Insert Draft to Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Draft to Postgres": {
      "main": [
        [
          {
            "node": "Create Stripe Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Session": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "Accidoc"
    }
  ]
}
